/* Responsive tabe with two designs
*/
table {
  border-collapse: collapse;
  /*width: 100%;*/
}

thead {
  display: none;
}

tr{
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  margin-bottom: 24px;
}

td[data-col-title]:before {
  display: block;
  font-weight: bold;
  content: attr(data-col-title) ": ";
}

th, td {
  border: 1px solid #d7d7d7;
  border-bottom: none;
  padding: 8px;
  word-wrap: break-word;
  display: block;
  /*width: 100%;*/
}

td:last-child {
  border-bottom: 1px solid #d7d7d7;
}

/* Alternative design */

.bounding-box{
  width: 100%;
  overflow-x: scroll;
}

table {
  width: 450%;
}

tr{
  display: inline-table;
  max-width: 270px;
}

/* End Alt design */



@media (min-width: 960px) {

  /* Alternative design */

  .bounding-box{
    width: 100%;
    overflow-x: initial;
  }

  table {
    width: 100%;
  }

  tr{
    display: inline-table;
    max-width: 270px;
    }

  /* End Alt design */

  thead {
    display: table-header-group;
  }

  tr {
    display: table-row;
  }

  th, td {
    word-wrap: break-word;
    display: table-cell;
    vertical-align: top;
    border: 1px solid #d7d7d7;
    width: auto;
    max-width: 270px;
  }

  td[data-col-title]:before {
    display: none;
  }
}